.profile-container{
  width: fit-content;
  height: fit-content;
  position: relative;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
  
  .profile{
    max-width: 400px;
    min-width: 300px;
    height: auto;
    border-radius: 50%;
  }
}

@media screen and (max-width: 768px) {
    .profile-container {
      min-height: 300px;
      bottom: -350px;
      display: relative;
      min-width: 400px;
    }
}  