.skill-page{
    
        ul{
            .topic-skill{
                color: #fff;
                font-size: large;
                font-weight: 400;
                animation: pulse 2s;
            }
            .skill{
                color: #ffd700;
                font-size: large;
                font-weight: 300;
                animation: fadeIn 1s;
            }
        }
        
        .skill-zone{
            width: 50%;
            height: 100%;
            position: relative;
            left: 45%; 
    }
}

@media screen and (max-width:1200px) {
    .skill-page{

        .text-zone{
            width: 100%;
            height: auto;
            top: 200px;
        }

        .skill-zone{
            display: relative;
            bottom: -400px;
        }
    }

    .bottom-tags{
        bottom: -200px;
    }
}

@media screen and (max-width:900px) {
    .skill-page{
        .skill-zone{
            bottom: -600px;
        }
    }
}
@media screen and (max-width:300px) {
    .skill-page{
        
        .skill-zone{
            bottom: -700px;

        }
    }

    .bottom-tags{
        bottom: -400px;
    }
}