.about-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    .text-zone{
        position: relative;
        top: 200px;
        height: fit-content;
    }
}