.home-page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto auto;
    gap: 150px;
    margin: auto;
    margin-top: 15%;

    .text-zone {
        position: relative;
        left: 100px;
        width: fit-content;
        max-height: 50%;
        min-width: 339px;
    }

    h1{
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: -15px;
            opacity: 0.6;
        }

        &::after{
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        img {
            width: 60px;
            margin-left: 20px;
            margin-bottom: -8px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    .button-link{
        margin-right: 10px;
        animation: fadeIn 1s 1.4s backwards;

        .linkedin-icon {
            color: #0a66c2;
            background: #fff;
            margin: auto 8px;
            width: 70px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid none;
        }
        .github-icon {
            color: #f0f6fc;
            background-color: #0d1117;
            margin: auto 8px;
            width: 70px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid none;
        }
        .linkedin-icon,
        .github-icon{
            svg{
                max-width: 30px;
                max-height: 30px;
            }
            &:hover{
                background: #ffd700;
            }
        }
    }

    .flat-button{
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.4s backwards;
        white-space: nowrap;

        &:hover {
            background: #ffd700;
            color: #333;
        }
    }
}

@media screen and (max-width: 768px){
    .page{
        min-height: 900px;
    .home-page{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        top: 100px;
        .text-zone{
            position: absolute;
            left: 220px;
            h1,
            .button-link{
                text-align: center;
            }
            .flat-button{
                position: relative;
                left: 80px;
            }
        }
    }
    }
}

@media screen and (max-width: 550px){
    .page{
        min-height: 800px;
        .home-page{
        left: -25px;
        top: 50px;
        .text-zone{
            left: 50px;
        }
    }
    }
}