.profile-container-in-about-page{
    width: fit-content;
    height: calc(100% - 305px);
    position: relative;
    margin: 0 auto;
    border: 3px solid #444;
    border-radius: 5px;
    box-shadow: 20px 20px 10px rgba(255,255,237,0.1);
    animation: backInRight 1.5s ;
    animation-iteration-count: 1;
    animation-delay: 1s;

    .profile-about{
        max-width: 400px;
        min-width: 300px;
    }
}