.profile-container-in-about-page{
    width: fit-content;
    height: calc(100% - 305px);
    position: relative;
    margin: 0 auto;
    border: 3px solid #444;
    border-radius: 5px;
    box-shadow: 20px 20px 10px rgba(255,255,237,0.1);
    animation: bounce 2s cubic-bezier(0.25, 2.5, 0.75, 2.5);
    animation-iteration-count: 2;
    animation-delay: 1s;

    .profile-about{
        max-width: 400px;
        min-width: 300px;
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }