/* Define variables if needed */
$primary-bg-color: #373a47;
$hover-bg-color: #a90000;
$cross-bg-color: #bdc3c7;

/* Nest styles */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 20px;
    cursor: pointer;
    visibility: hidden;
    .bm-burger-bars {
        background: #dddddd;
        &:hover {
            background: $hover-bg-color;
        }
    }
    
    .bm-cross-button {
        height: 24px;
        width: 24px;
        
        .bm-cross {
            background: $cross-bg-color;
        }
    }
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
    
    .menu-item{
        color: #fff;
        border-bottom: 1px solid #000;
        text-align: left;
    }
  .bm-menu {
    background: $primary-bg-color;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;

    .bm-morph-shape {
      fill: $primary-bg-color;
    }

    .bm-item-list {
      color: #b8b7ad;
      padding: 0.8em;

      .bm-item {
        display: inline-block;
      }
    }
  }

  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 400px) {
    .bm-burger-button {
        visibility: visible;
    }
}